/* navigation bar */
.navbar ul {
    list-style-type: none;
    position: static;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #043143;
}
.navbar li {
    display: inline;
    float: left;
}
.navbar li a {
    display: block;
    /* padding: 8px; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #3E475A;
}
.navbar .active {
    background-color: #D9AE01;
}